alias ls="ls --color"
alias gs="git status"
alias gl="git log"
alias glol="git log --oneline --decorate --graph"
alias glola="git log --oneline --decorate --graph --all"
alias gdf="git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
alias gitdotfiles="git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
